@import 'src/styles/variables';

.container {
	padding: 20px;
	background-color: $container-dark; // Темный фон контейнера
	color: $text-light; // Светлый текст
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	max-width: 600px;
	margin: 0 auto;
}
.header_title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: $primary-blue; // Яркий синий для заголовка
	margin-bottom: 30px;
	text-transform: capitalize;
}
.workout_card {
	text-transform: uppercase;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid $accent-orange;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	.title {
		text-align: center;
		font-size: 32px;
		font-weight: bold;
	}
}
.lower_title {
	text-transform: lowercase;
}
