// Основные цвета
$primary-blue: #1e90ff;
$primary-green: #28a745;
$accent-orange: #ff6347;
$highlight-yellow: #ffcc00;

// Фоновые и нейтральные цвета
$background-dark: #1c1c1e;
$container-dark: #2c2c2e;
$text-light: #f8f9fa;
$text-muted: #a9a9a9;

// Дополнительные цвета
$danger-red: #e63946;
// mobile size
$mobile: 320px;
