@import 'src/styles/variables';

.btn {
	padding: 10px;
	color: white;
	border-radius: 10px;
	border: none;
	font-size: 20px;
	min-width: 190px;
	transition: all 0.3s ease;
	cursor: pointer;
	&:hover {
		background-color: $primary-green;
	}
}
.primary {
	background: $primary-green;
}
.secondary {
	background: $primary-blue;
	&:hover {
		background-color: $primary-blue;
	}
}
.wrapper {
	text-align: center;
}
