.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 10px;

  button {
    cursor: pointer;
    background: none;
    border: none;
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}
